[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
jupyter = "*"
h5py = "*"
scipy = "*"
matplotlib = "*"
scikit-image = "*"
ray = {extras = ["tune"],version = "*"}
psutil = "*"
setproctitle = "*"
filelock = "*"

[requires]
python_version = "3.7"
